<nav data-toggle="wy-nav-shift" class="wy-nav-side stickynav">
    <div class="wy-side-nav-search">
        <a href=".." class="icon icon-home"> Zarządzanie portfelem projektów</a>
    </div>
    <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">

    {# Links are just working stubbs. To be changed for navigation between steps in game. #}
        {% if request.path == '/'%}
        <ul class="current">
            <li class="toctree-l1 current">
                <a class="current" href="{% url 'home' %}">Home</a>
            </li>
        </ul>
        {% else %}
            <ul>
                <li class="toctree-l1">
                    <a href="{% url 'home' %}">Home</a>
                </li>
            </ul>
        {% endif %}

        {% if request.path == '/accounts/login/'%}
            <ul class="current">
                <li class="toctree-l1 current">
                    <a class="current" href="{% url 'login' %}">Login</a>
                </li>
            </ul>
        {% else %}
            <ul>
                <li class="toctree-l1">
                    <a href="{% url 'login' %}">Login</a>
                </li>
            </ul>
        {% endif %}

        {% if request.path == '/accounts/signup/'%}
            <ul class="current">
                <li class="toctree-l1 current">
                    <a class="current" href="{% url 'signup' %}">Register</a>
                </li>
            </ul>
        {% else %}
            <ul>
                <li class="toctree-l1">
                    <a href="{% url 'signup' %}">Register</a>
                </li>
            </ul>
        {% endif %}



    </div>
</nav>
