<div id="adminbar">
    <ul class="button-left">
        <li onclick="location.href='{% url 'home' %}';"><i class="fa fa-home"></i> Informacje</li>
    </ul>
    {% if user.is_authenticated %}
    <ul class="button-left">
        <li onclick="location.href='{% url 'game-main' %}';"><i class="fa fa-play-circle"></i> Gra</li>
    </ul>
    <ul class="button-left">
        <li onclick="location.href='{% url 'game-results' %}';"><i class="fa fa-book"></i> Wyniki</li>
    </ul>
    {% endif %}

    <ul id="logged_as">
        <li>
            {% if user.is_authenticated %}
                <b> {{ user.username }} :</b>
                <span><a class="nav-item"  id="logout" href="{% url 'logout' %}">wyloguj</a></span>
                <b>lub</b>
                <span><a class="nav-item"  id="logout" href="{% url 'password_reset' %}">zmień hasło</a></span>
                {% if user.is_superuser %}
                    <b>lub</b>
                    <span><a class="nav-item" id="admin" href="{% url 'admin:index' %}">Admin Panel</a></span>
                {% endif %}
            {% else %}
                <span><a id="logout" href="{% url 'login' %}">Zaloguj się</a></span>
                <b>lub</b>
                <span><a id="logout" href="{% url 'signup' %}">Zarejestruj</a></span>
                <b>  </b>

            {% endif %}
        </li>
    </ul>
</div>