{% load api_filters %}

<form id="form_round" class="form-horizontal" method="post" onsubmit="game_request(event, 'form_round', '{% url 'api-submit-round' %}')">
    <input type="hidden" name="gameId" value="{{ game_id }}">
    <input type="hidden" name="roundId" value="{{ round_id }}">
    <input type="hidden" name="roundSeed" value="{{ round.seed }}">
    <input type="hidden" name="stepId" value="{{ step_id }}">
    {% csrf_token %}
    {% game_table round_data round_iterator %}
    <input id="generate_revenue" class="btn btn-success" onclick="animateValue('result', 100, 25, 5000);" disabled type="submit" value="Generuj zyski!">
</form>
<button style="margin-top: 15px" id="estimate_risk" disabled onclick="estimate_risk(event)" class="btn btn-danger" value="Oszacuj Ryzyko!">Oszacuj Ryzyko!</button>
<div id="risk"></div>
