{% load api_filters %}

<form id="form_round" class="form-horizontal" method="post" onsubmit="game_request(event, 'form_round', '{% url 'api-submit-round' %}')">
    <input type="hidden" name="roundSeed" value="{{ round.seed }}">
    <input type="hidden" name="roundId" value="{{ round.id }}">
    {% csrf_token %}
    <table>
        <tr>
            <th>
                &nbsp;
            </th>
            <th>
                Koszt
            </th>
            <th>
                Zysk
            </th>
            <th>
                Zwrot
            </th>
            <th>
                Ryzyko
            </th>
            <th>
                &nbsp;
            </th>
            <th>
                Wynik
            </th>
        </tr>
        {% for itr in round_iterator %}
            <tr>
                <td>
                    Projekt{{ itr }}
                </td>
                <td>
                    {{ round_data.koszty|get_at_index:forloop.counter0 }}
                </td>
                <td>
                    {{ round_data.zyski|get_at_index:forloop.counter0 }}
                </td>
                <td>
                    {{ round_data.zwrot|get_at_index:forloop.counter0 }}
                </td>
                <td>
                    {{ round_data.ryzyko|get_at_index:forloop.counter0 }}
                </td>
                <td>
                    <label>
                        <input type="checkbox" name="project{{ forloop.counter0 }}" value={{ forloop.counter0 }}>
                        P{{ forloop.counter }}
                    </label>
                </td>
                <td>
                    ---
                </td>
            </tr>
        {% endfor %}
    </table>
    <input type="submit" value="Generuj zyski!">
</form>