{% extends 'base.html' %}
{% load static %}


{% block title %}Game{% endblock %}

{% block content %}
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div id="modal_content"></div>
        </div>

    </div>
    <div id="game-main" class="app">
        <form id="form_game" class="form-horizontal" method="post"
              onsubmit="game_request(event, 'form_game', '{% url 'api-init-game' %}')">
            {% csrf_token %}
            <div class="container">
                <h1>Zarządzanie Portfelem Projektów</h1>
                <hr>
                <div class="row">
                    <div class="col-centered">
                        <p>Wciśnij przycisk żeby rozpocząć grę</p>
                    </div>

                </div>
                <div class="row" style="margin-top:20px">
                    <div class="col-6 col-centered">
                        <span class="input-group-btn">
                            <input id="submit" class="btn btn-danger btn-big" type="submit" name="submit"
                                   value="S T A R T">
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        function game_request(event, form, targetUrl) {
            let request;

            event.preventDefault();

            // Abort any pending request
            if (request) {
                request.abort();
            }

            //Define Data to be sent
            let formData = $('#' + form).serialize();

            // Fire off the request to backend
            request = $.ajax({
                headers: {'X-CSRFToken': $("[name=csrfmiddlewaretoken]").val()},
                url: targetUrl,
                type: "post",
                data: formData,
                dataType: 'html',
                encode: true
            });

            // Callback handler that will be called on success
            request.done(function (response, textStatus, jqXHR) {
                console.log(response);
                $('#game-main').html(response);
            });

            // Callback handler that will be called on failure
            request.fail(function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
                console.log(textStatus);
                console.log(errorThrown);
                $('#game-main').html(errorThrown);
            });

            // Callback handler that will be called regardless
            // if the request failed or succeeded
            request.always(function () {

            });


        }


        function check_project_amount() {
            let amount_of_checked = 0;
            let lower_limit = 1;
            let upper_limit = 3;
            $("[name='fields[]']").each(function () {
                if (this.checked) {
                    amount_of_checked++;
                }
            });
            $("#generate_revenue").prop('disabled', amount_of_checked < lower_limit || amount_of_checked > upper_limit);
        }

        function load_project_graph(project_id) {
            let request;

            // Abort any pending request
            if (request) {
                request.abort();
            }

            //Define Data to be sent
            let formData = {
                'project_id': project_id,
                'round_id': $("[name='roundId']").val()
            };


            // Fire off the request to backend
            request = $.ajax({
                headers: {'X-CSRFToken': $("[name=csrfmiddlewaretoken]").val()},
                url: "{% url 'api-show-project' %}",
                type: "post",
                data: formData,
                dataType: 'html',
                encode: true
            });

            // Get the modal
            let modal = document.getElementById("myModal");

            // Callback handler that will be called on success
            request.done(function (response, textStatus, jqXHR) {
                console.log(response);
                modal.style.display = "block";
                $('#modal_content').html(response);
            });

            // Callback handler that will be called on failure
            request.fail(function (jqXHR, textStatus, errorThrown) {
                console.log(jqXHR);
                console.log(textStatus);
                console.log(errorThrown);
                modal.style.display = "block";
                $('#modal_content').html(errorThrown);
            });

            // Callback handler that will be called regardless
            // if the request failed or succeeded
            request.always(function () {
                // Reenable the inputs
                inputs.prop("disabled", false);
            });


        }

        $(document).ready(function () {

            // Get the modal
            let modal = document.getElementById("myModal");
            // Get the <span> element that closes the modal
            let span = document.getElementsByClassName("close")[0];


            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modal.style.display = "none";
            };

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        });

    </script>
{% endblock %}