{% extends 'base.html' %}
{% load static %}


{% block title %}Game{% endblock %}

{% block content %}
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div id="modal_content"></div>
        </div>

    </div>
    <div id="game-main" class="app">
        <form id="form_game" class="form-horizontal" method="post"
              onsubmit="game_request(event, 'form_game', '{% url 'api-init-game' %}')">
            {% csrf_token %}
            <div class="container">
                <h1>Zarządzanie Portfelem Projektów</h1>
                <hr>
                <div class="row">
                    <div class="col-centered">
                        <p>Wciśnij przycisk żeby rozpocząć grę</p>
                    </div>

                </div>
                <div class="row" style="margin-top:20px">
                    <div class="col-6 col-centered">
                        <span class="input-group-btn">
                            <input id="submit" class="btn btn-danger btn-big" type="submit" name="submit"
                                   value="S T A R T">
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        function game_request(event, form, targetUrl) {
            let request;

            event.preventDefault();

            // Abort any pending request
            if (request) {
                request.abort();
            }

            //Define Data to be sent
            let formData = $('#' + form).serialize();

            // Fire off the request to backend
            request = $.ajax({
                headers: {'X-CSRFToken': $("[name=csrfmiddlewaretoken]").val()},
                url: targetUrl,
                type: "post",
                data: formData,
                dataType: 'html',
                encode: true
            });

            // Callback handler that will be called on success
            request.done(function (response, textStatus, jqXHR) {
                //console.log(response);
                $('#game-main').html(response);
            });

            // Callback handler that will be called on failure
            request.fail(function (jqXHR, textStatus, errorThrown) {
                //console.log(jqXHR);
                //console.log(textStatus);
                //console.log(errorThrown);
                $('#game-main').html(errorThrown);
            });

            // Callback handler that will be called regardless
            // if the request failed or succeeded
            request.always(function () {
                animateValue(document.getElementById('result'));
            });


        }


        function check_project_amount(lower_limit, upper_limit) {
            let amount_of_checked = 0;
            $("[name='fields[]']").each(function () {
                if (this.checked) {
                    amount_of_checked++;
                }
            });
            $("#generate_revenue").prop('disabled', amount_of_checked < lower_limit || amount_of_checked > upper_limit);
        }

        function load_project_graph(event, project_id) {
            let request;
            event.preventDefault();

            // Abort any pending request
            if (request) {
                request.abort();
            }

            //Define Data to be sent
            let formData = {
                'project_id': project_id,
                'round_id': $("[name='roundId']").val()
            };


            // Fire off the request to backend
            request = $.ajax({
                headers: {'X-CSRFToken': $("[name=csrfmiddlewaretoken]").val()},
                url: "{% url 'api-show-project' %}",
                type: "post",
                data: formData,
                dataType: 'html',
                encode: true
            });

            // Get the modal
            let modal = document.getElementById("myModal");

            // Callback handler that will be called on success
            request.done(function (response, textStatus, jqXHR) {
                //console.log(response);
                modal.style.display = "block";
                $('#modal_content').html(response);
            });

            // Callback handler that will be called on failure
            request.fail(function (jqXHR, textStatus, errorThrown) {
                //console.log(jqXHR);
                //console.log(textStatus);
                //console.log(errorThrown);
                modal.style.display = "block";
                $('#modal_content').html(errorThrown);
            });

            // Callback handler that will be called regardless
            // if the request failed or succeeded
            request.always(function () {

            });


        }

        $(document).ready(function () {

            // Get the modal
            let modal = document.getElementById("myModal");
            // Get the <span> element that closes the modal
            let span = document.getElementsByClassName("close")[0];


            // When the user clicks on <span> (x), close the modal
            span.onclick = function () {
                modal.style.display = "none";
            };

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }


        });

        function animateValue(obj_name, start = 0, end = null, duration = 3000) {

            let boxesEL = document.getElementsByName(obj_name);
            for (let x = 0; x < boxesEL.length; x++)   // comparison should be "<" not "<="
            {
                let obj = boxesEL[x];
                if (obj) {

                    // save starting text for later (and as a fallback text if JS not running and/or google)
                    let textStarting = obj.innerHTML;

                    // remove non-numeric from starting text if not specified
                    end = end || parseInt(textStarting.replace(/\D/g, ""));

                    let range = end - start;

                    // no timer shorter than 50ms (not really visible any way)
                    let minTimer = 50;

                    // calc step time to show all interediate values
                    let stepTime = Math.abs(Math.floor(duration / range));

                    // never go below minTimer
                    stepTime = Math.max(stepTime, minTimer);

                    // get current time and calculate desired end time
                    let startTime = new Date().getTime();
                    let endTime = startTime + duration;
                    let timer;

                    function run() {
                        let now = new Date().getTime();
                        let remaining = Math.max((endTime - now) / duration, 0);
                        let value = Math.round(end - (remaining * range));
                        // replace numeric digits only in the original string
                        obj.innerHTML = textStarting.replace(/([0-9]+)/g, value);
                        if (value == end) {
                            clearInterval(timer);
                        }
                    }

                    timer = setInterval(run, stepTime);
                    run();
                }
            }


        }

        function estimate_risk() {
            let projects = [];

            $("[name='fields[]']").each(function () {
                if (this.checked) {
                    projects.push(this.id);
                }
            });


            //Define Data to be sent
            let formData = {
                'round_id': $("[name='roundId']").val(),
                'chosen_projects': projects
            };


            // Fire off the request to backend
            request = $.ajax({
                headers: {'X-CSRFToken': $("[name=csrfmiddlewaretoken]").val()},
                url: "{% url 'api-calculate-wallet' %}",
                type: "post",
                data: formData,
                dataType: 'html',
                encode: true
            });


            // Callback handler that will be called on success
            request.done(function (response, textStatus, jqXHR) {
                $('#risk').html(response);
            });

            // Callback handler that will be called on failure
            request.fail(function (jqXHR, textStatus, errorThrown) {
                $('#risk').html(errorThrown);
            });

            // Callback handler that will be called regardless
            // if the request failed or succeeded
            request.always(function () {

            });

        }

    </script>
{% endblock %}