{% load api_filters %}

<form id="form_repeat" class="form-horizontal" method="post" onsubmit="game_request(event, 'form_repeat', '{% url 'api-submit-round' %}')">
    <input type="hidden" name="roundSeed" value="{{ round.seed }}">
    <input type="hidden" name="roundId" value="{{ round.id }}">
    <input type="hidden" name="gameId" value="{{ game_id }}">
    {% csrf_token %}
    {% game_table round_data round_iterator checkboxes %}
    <input type="submit" value="Generuj ponownie">
    lub
</form>
<form id="form_new" class="form-horizontal" method="post" onsubmit="game_request(event, 'form_new', '{% url 'api-init-round' %}')">
    <input type="hidden" name="gameId" value="{{ game_id }}">
    <input type="submit" value="Nowa runda"> 
</form>