<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Management Game Login</title>

    {# Include css,js,img resources #}
    {% include "fragments/resources.html" %}

    {% block head_custom %}{% endblock %}
</head>
<body class="wy-body-for-nav" role="document">
<div class="wy-grid-for-nav">

    {# Fragment with sidebar navigation links #}
    {% include "fragments/sidebar.html" %}

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

        {# Fragment with topbar navigation links #}
        {% include "fragments/topbar.html" %}

        <div class="wy-nav-content">
            <div class="rst-content">
                <div role="main">
                    <div class="section">
                        <div class="windows">
                            {% block content %}
                            {% endblock %}
                        </div>

                    </div>
                    {% block footer %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </section>
</div>
{% block script %}
{% endblock %}
</body>
</html>
