{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Management Game Login</title>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    {% block head_custom %}{% endblock %}
</head>
<body>
<body>
<main>
    <img src="{% static 'img/Logo.png' %}" alt="logo-zarządzanie-portfelem-projektów">
    {% block menubar %}
    <ul>
        <li><a href="{% url 'home' %}">Informacje</a></li>
        <li><a href="{% url 'signup' %}">Zarejestruj</a></li>
        <li><a href="{% url 'home' %}">Zaloguj się</a></li>
        <li><a href="{% url 'home' %}">Gra</a></li>
        <li><a href="{% url 'home' %}">Wyniki</a></li>
    </ul>
    {% endblock %}
    {% block content %}
    {% endblock %}
</main>
</body>
</body>
</html>

